@using AlgoBotBackend.Migrations.DAL
@using AlgoBotBackend.Models.ViewModels
@model BotUserViewModel

@{
    ViewData["Title"] = $"Профиль";
}

<div>
    <h4>Мой профиль</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Юзернейм реферала:
        </dt>
        <dd class="col-sm-10">
            @Model.ReferalUsername
        </dd>
        <dt class="col-sm-2">
            Имя:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class="col-sm-2">
            Номер телефона:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            Возраст ребёнка:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChildAge)
        </dd>
        <dt class="col-sm-2">
            Имя ребёнка:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChildName)
        </dd>
        <dt class="col-sm-2">
            Счёт:
        </dt>
        <dd class="col-sm-10">
            @Model.Score
        </dd>
        <dt class="col-sm-2">
            Сумма кэшбэка:
        </dt>
        <dd class="col-sm-10">
            @Model.Cashback
        </dd>
        <hr />

        @if (Model.Referals1.Count != 0)
        {
            <h4>Рефералы</h4>
            <div>
                <h5>1 уровень</h5>
                <ol class="list-group list-group-numbered col-sm-2">
                    @foreach (var item in Model.Referals1)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">@item.Login</div>
                                Имя: @item.FullName
                                Спонсор: @item.ReferalUsername
                            </div>
                        </li>
                    }
                </ol>
            </div>
        }
        @if (Model.Referals2.Count != 0)
        {
            <div>
                <h5>2 уровень</h5>
                <ol class="list-group list-group-numbered col-sm-2">
                    @foreach (var item in Model.Referals2)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">@item.Login</div>
                                Имя: @item.FullName
                                Спонсор: @item.ReferalUsername
                            </div>
                        </li>
                    }
                </ol>
            </div>
        }
        @if (Model.Referals3.Count != 0)
        {
            <div>
                <h5>3 уровень</h5>
                <ol class="list-group list-group-numbered col-sm-2">
                    @foreach (var item in Model.Referals3)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">@item.Login</div>
                                Имя: @item.FullName
                                Спонсор: @item.ReferalUsername
                            </div>
                        </li>
                    }
                </ol>
            </div>
        }

    </dl>
</div>