
@using AlgoBotBackend.Models.ViewModels
@model IEnumerable<PaymentViewModel>

@{
    ViewData["Title"] = "Рекламные кампании";
}

<h1>Все оплаты</h1>
<form asp-controller="payment" asp-action="AddPayments" asp-antiforgery="false" method="get">
    <input type="submit" value="Добавить оплаты" class="btn btn-primary btn-lg" />
</form>
<h4>Количество: @Model.Count()</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Юзернейм
            </th>
            <th>
                ФИО
            </th>
            <th>
                Реклмная кампания
            </th>
            <th>
                Сумма
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Username
                </td>
                <td>
                    @item.Fullname
                </td>
                <td>
                    @item.CampaignName
                </td>
                <td>
                    @item.Amount
                </td>
                <td>
                    <form asp-controller="payment" asp-action="delete" asp-antiforgery="false" method="post" asp-route-id="@item.Id">
                        <input type="submit" value="Удалить" class="btn btn-outline-danger btn-sm" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
