@using AlgoBotBackend.Models.ViewModels
@model BotUserViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Пользователь @Model.Username</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Юзернейм реферала:
        </dt>
        <dd class = "col-sm-10">
            @Model.ReferalUsername
        </dd>
        <dt class = "col-sm-2">
            Имя:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            Номер телефона:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            Возраст ребёнка:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildAge)
        </dd>
        <dt class = "col-sm-2">
            Имя ребёнка:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildName)
        </dd>
        <dt class="col-sm-2">
            Счёт:
        </dt>
        <dd class="col-sm-10">
            @Model.Score
        </dd>
        <dt class="col-sm-2">
            Привёл друзей:
        </dt>
        <dd class="col-sm-10">
            @Model.CountReferals
        </dd>
        <dt class="col-sm-2">
            Сумма кэшбэка:
        </dt>
        <dd class="col-sm-10">
            @Model.Сashback
        </dd>
    </dl>
</div>
<div>
    <form asp-controller="botuser" asp-action="Index" asp-antiforgery="false" method="get">
        <input type="submit" value="Вернуться к списку пользователей" class="btn btn-outline-secondary btn-sm" />
    </form>
</div>
